{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card mt-5">
        <div class="card-body">
          <div class="card-title py-3">
            <h4>Register for a free account</h4>
          </div>
          <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {% include 'partials/_messages.html' %}
            <div class="form-group">
              <input type="text" name="username" id="username-field" placeholder="username" class="form-control form-control-sm" value="{{ fieldValues.username }}">
            </div>
            <div id="invalid-feedback" style="display:none"></div>
            <p class="text-sm text-success usernamesuccessOutput"></p>
            <div class="form-group">
              <input type="email" name="email" id="email-field" placeholder="email" class="form-control" value="{{ fieldValues.email }}">
            </div>
            <div id="invalid-email" style="display:none"></div>
            <div class="form-group">
              <input type="password" name="password" id="password-field" placeholder="password" class="form-control form-control-sm">
              <small class="float-right py-2 show-pointer" id="show-password">SHOW</small>
            </div>
            <input type="submit" value="Register" class="btn btn-block btn-primary submit-btn">
          </form>
          <div class="container">
            <span class="text-lead lead">Have an account?</span><a href="{% url 'login' %}">Login</a><br>
            <span class="text-lead lead">Forgot Password?</span><a href="{% url 'request-password' %}">Reset it</a>
          </div>
        </div>
      </div>
    
    </div>
    <div class="col-md-4"></div>
  </div>
  <script src="{% static 'js/register.js' %}"></script>
{% endblock content %}